/node_modules

/app/backend/node_modules
/app/backend/dist
/app/backend/.env

/app/frontend/node_modules
/app/frontend/.cache/
/app/frontend/public
/app/frontend/src/gatsby-types.d.ts

/lib/type/node_modules